/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
    color: rgb(255, 0, 0);
    margin: 20px 10px 0px;
    padding: 0px 30px 30px 30px;
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 1px 4px rgb(211, 211, 211)
  }

  h2 {
    color: rgb(255, 0, 0);
    margin: 20px 10px 0px;
    padding: 0px 30px 30px 30px;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 4px rgb(211, 211, 211)
  }
  body {
      background-color: rgba(5, 5, 5, 0.9);
  }
